*/node_modules
node_modules/*
*\node_modules\
part3/phonebook/node_modules/
part3/part3-learning/node_modules/
part3/part3-learning/node_modules/*
part3/phonebook/.env
part4/bloglist/node_modules/*
part4/bloglist/.env
*/.env
*\.env
part4/bloglist/.env
part4/bloglist/.idea/workspace.xml
*.xml
part4/bloglist/.idea/workspace.xml
*.iml
part5/bloglist-frontend/node_modules/*